<!------------------------------------------------

Purpose: Defines static visuals for the front splash page

What it contains:
    - Different plots for the indicators

-------------------------------------------------->

<div class="pageContainer">
    <div class="row">
        <p id="aboutPlotText" class="mrgn-tp-lg">
        </p>
    </div>

    <div class="row mrgn-tp-lg">
        <div class="col-md-4">
            <div id="topicDropdown" class="chart-selector mrgn-bttm-md">
                <label for="topicSelector"></label>
                <select name="topicSelector" title="topicSelector" id="topicSelector" class="form-control w-100"></select>
            </div>
            <div id="indicatorDropdown" class="chart-selector mrgn-bttm-md">
                <label for="indicatorSelector"></label>
                <select name="indicatorSelector" title="indicatorSelector" id="indicatorSelector" class="form-control"></select>
            </div>
            <div id="populationDropdown" class="chart-selector">
                <label for="populationSelector"></label>
                <select name="populationSelector" title="populationSelector" id="populationSelector" class="form-control"></select>
            </div>
        </div>

        <div class="col-md-8">
            <div id="graphSelector">
                <label for="graphSelector"></label>
                <div class="graph-selects-container mb-4 d-flex justify-content-center">
                </div>

                <div class="graphContainer">
                    <figure class="mrgn-tp-xl visualGraph"></figure>
                </div>
            </div>
        </div>
    </div>
</div>